<dialog
  open
  class="w-full bg-white max-w-md mx-auto rounded-2xl p-4 shadow-lg flex flex-col gap-4"
>
  <p class="text-center font-semibold">
    User account not found, do you want to create a new account?
  </p>
  <div class="flex justify-between gap-4">
    <button secondary class="w-full" (click)="close()" [disabled]="loading()">
      Cancel
    </button>
    <button
      primary
      class="w-full"
      (click)="createUser()"
      [disabled]="loading()"
    >
      Create Account
    </button>
  </div>
</dialog>
